<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>490033109654-dsbcbib91ea7aspmv8gbooqeicumoq73.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.490033109654-dsbcbib91ea7aspmv8gbooqeicumoq73</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>490033109654-1kbs81rmucaql4j0rgjim1eura2u43p1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB0nJ_PNchaDIOzzuQN8UAeDC1h_7MNTNo</string>
	<key>GCM_SENDER_ID</key>
	<string>490033109654</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bitwisedhruv.songgpt</string>
	<key>PROJECT_ID</key>
	<string>songgpt-cefda</string>
	<key>STORAGE_BUCKET</key>
	<string>songgpt-cefda.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:490033109654:ios:c2a33b048284eaf6df40b7</string>
</dict>
</plist>